*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #348F50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titulo{
    text-align: center;
    margin: 20px 0px;
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase;
}
.subtitle{
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0px;
}
.main{
    margin: 0   auto;
    max-width: 1200px;
    /* border: 1px soild red; */
}
.conteiner{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.item{
    /* border: 1px solid black; */
    padding: 20px 0px 60px 0px;
}

/* formulario*/
form{
    padding: 20px 70px;
}
.campo{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}
label{
    font-weight: 700;
    margin: 9px 0px 5px 0px;
}
input{
    height: 38px;
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
}
textarea{
    height: 70px;
    padding: 4px 8px
}
.camposubmit{
    margin-top: 20px;
    width: 100%;
}
button{
    width: 100%;
    background-color: rgb(215, 33, 112);
    height: 38px;
    padding: 6px 16px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover{
    background-color: rgb(5, 41, 150);

}

.alerta{
    /* border: 1px solid yellow; */
    background-color: white;
    border-radius: 5px;
    height: 38px;
    display:flex ;
    align-items: center;
    justify-content: center;
}
.error{
    font-weight: 700;
    text-align: center;
    font-size: 17px;
    color: red;
}